<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMvAssistantWCFService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://127.0.0.1:8002/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMvAssistantWCFService"
                contract="WCFService.IMvAssistantWCFService" name="BasicHttpBinding_IMvAssistantWCFService" />
        </client>
    </system.serviceModel>
</configuration>